@import "tailwindcss";
@theme {
  --colors-brand-primary: #4B0082;
  --colors-brand-accent: #00CED1;
  --height-20: 5rem;
  --scroll-margin-top-20: 5rem;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}


.glass {
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.35);
}

@keyframes iosSheet {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  60% {
    opacity: 1;
    transform: translateY(0px) scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.animate-ios-sheet {
  animation: iosSheet 0.28s cubic-bezier(0.22, 1, 0.36, 1);
}
